body {
    font-family: 'Fira Code',Arial, Helvetica, sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
    background-color: #262626;
    border-bottom: 10px solid #000 ;
    padding: 10px 20px;
}

#logo {
    max-width: 60px;
}

.box-titulo {
    display: inline-block;
    position: absolute;
    margin-top: 116px;
    margin-left: 91px;
    background-color: #262626;
    box-shadow: 10px 10px 0 black;
    text-align: center;
    padding: 42px 44px;
    font-family: 'Press Start 2P', cursive;
    text-shadow:5px 5px #000;
}
.box-titulo .tittle {
    margin-bottom: 28px;
    font-size: 40px;
    color: #FFB30f;  
}
.box-titulo .subtitle {
    font-size: 30px;
    color: #fff;
}

.bg {
    position: absolute;
    width: 100%;
    height: 797px;
    left: 0px;
    top: 80px;
    background-image: url(../assets/img/sunset-horizon-scenery-landscape-art-uhdpaper.com-4K-178.jpg);
    background-size: cover;
    
}
