.action {
    display: inline-flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    margin-right: 30px;
    transition: transform .3s;
}

.action::before {
    content: "";
    background-color: #FFB30f;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}
.action:hover {
    transform: scale(1.1);
    
}