.box-skills {
    height: 480px;
    width: 960px;
    justify-content: space-around;
}
.progress {
    display: inline-flex;
    height: 90px;
    width: 430px;
    margin-bottom: 30px;
    
}
.icons {
    display: flex;
    align-items: flex-start;
    max-height: 50px;
    max-width: 50px;
}
.progress-bar {  
    margin-top: 15px;
    height: 30px;  
    width: 320px;
    background: #FFFFFF;
    border: 5px solid #000000;
    box-sizing: border-box;
    margin-left: 15px;  
}

.html {
    text-align: left;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 25px;
    color: #fff;
    margin-top: 10px;
    margin-left: 15px;
}
.p2 {
    background-color: #262626;
    width: 60%;
    height: 100%;   
}