.button {
    font-family: 'Fira Code',Arial, Helvetica, sans-serif;
    font-weight: 500;
    display: inline-block;
    background-color: #FFB30f;
    height: 60px;
    line-height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 5px 5px 0 black;
    margin-right: 0;
    font-size: 20px;
    text-decoration: none;
    color: #fff;
}

.button:hover {
    transform: scale(1.05);
    color: #262626;
    transition: transform .3s;
}