.main-title {
    margin-bottom: 28px;
    font-size: 40px;
    color: #FFB30f;
    font-family: 'Press Start 2P', sans-serif;
    text-shadow:5px 5px #000;
    text-align: center;  
}
.main-title.-second {
    font-size: 30px;
    color: #fff;
}